{% extends "layout.html" %} 

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block pageTitle %} 
  Add a new employee
{% endblock %} 

{% block content %}

{{ govukBackLink({
        text: "Back",
        href: "/hr-employee"
      }) }}

<h2 class="govuk-heading-m">Add a new employee</h2>

{% if errormessage %} 
<div class="govuk-error-message">{{ errormessage }}</div> 
{% endif %}

<form class="form" action="/add-employee" method="post">
{{ govukInput({
  label: {
    text: "Name"
  },
  id: "name",
  name: "name",
  value: data["name"] 
}) }}

{{ govukInput({
  label: {
    text: "Address"
  },
  id: "address",
  name: "address",
  value: data["address"] 
}) }}

{{ govukInput({
  label: {
    text: "National Insurance Number"
  },
  id: "nin",
  name: "nin",
  value: data["nin"] 
}) }}

{{ govukInput({
  label: {
    text: "Bank Account Number"
  },
  id: "ban",
  name: "ban",
  value: data["ban"] 
}) }}

{{ govukInput({
  label: {
    text: "Sortcode"
  },
  id: "sortcode",
  name: "sortcode",
  value: data["sortcode"] 
}) }}

{{ govukInput({
  label: {
    text: "Salary"
  },
  id: "salary",
  name: "salary",
  value: data["salary"] 
}) }}

{{ govukInput({
  label: {
    text: "Department"
  },
  id: "department",
  name: "department",
  value: data["department"] 
}) }}

{{ govukCheckboxes({
  idPrefix: "manager",
  name: "manager",
  items: [
    {
      value: "manager",
      text: "Manager"
    }
  ]
}) }}

{% set salesHtml %}
{{ govukInput({
  id: "commission_rate",
  name: "commission_rate",
  type: "tel",
  classes: "govuk-!-width-one-third",
  label: {
    text: "Commission Rate"
  }
}) }}
{{ govukInput({
  id: "total_sales_value",
  name: "total_sales_value",
  type: "tel",
  classes: "govuk-!-width-one-third",
  label: {
    text: "Total Sales Value"
  }
}) }}
{% endset -%}

{% set technicalHtml %}
{{ govukInput({
  id: "cv",
  name: "cv",
  type: "tel",
  classes: "govuk-!-width-one-third",
  label: {
    text: "CV"
  }
}) }}
{{ govukInput({
  id: "photo",
  name: "photo",
  type: "tel",
  classes: "govuk-!-width-one-third",
  label: {
    text: "Photo"
  }
}) }}
{% endset -%}


{{ govukRadios({
  idPrefix: "salesOrTechnical",
  name: "salesOrTechnical",
  items: [
    {
      value: "sales",
      text: "Sales Employee",
      conditional: {
        html: salesHtml
      }
    },
    {
      value: "technical",
      text: "Technical Employee",
      conditional: {
        html: technicalHtml
      }
    },
    {
      value: "other",
      text: "Other Employee"
    }
  ]
}) }}

{{ govukButton({
  text: "Submit"
}) }}
</form>

{% endblock %}