
{% extends "layout.html" %}

{% block pageTitle %}
  Employee System
{% endblock %}

{% block content %}

{{ govukBackLink({
        text: "Back",
        href: "/talent-employee"
      }) }}

<h2 class="govuk-heading-m">List of Employees not assigned to a project</h2>

{% if employees and employees.length > 0 %} 
{% set employeerows = [] %} 
{% for employee in employees %}
{% set employeerows = (employeerows.push([{ text: employee.emp_id }, {text: employee.emp_name}, {text: employee.project_name}, {html:
  '<form action="/assign-to-project/" method="get">
                    <button class="govuk-button" data-module="govuk-button" name="emp_id" value="'+employee.emp_id+'">
                        Assign
                    </button>
                    </form>
                    '
}]), employeerows) %}
{% endfor %} 
{{govukTable({
head: [ { text: "ID" },{ text: "Name" }, {text: "Assigned Project(s)"}, {text: ""}],
rows: employeerows })
}}
{% else %}
<h3 class="govuk-heading-s">There are no employees without a project.</h3>
{% endif %}

{% endblock %}