
{% extends "layout.html" %}

{% block pageTitle %}
  Employee System
{% endblock %}

{% block content %}

{{ govukBackLink({
        text: "Back",
        href: "/talent-employee"
      }) }}

<h2 class="govuk-heading-m">List of Projects with no emloyees assigned</h2>

{% if projects and projects.length > 0 %} 
{% set projectrows = [] %} 
{% for project in projects %}
{% set projectrows = (projectrows.push([{ text: project.project_id }, {text: project.project_name}, {text: project.employees}, {text: project.num_employees}, {html:
  '<form action="/assign-to-project/" method="get">
                    <button class="govuk-button" data-module="govuk-button" name="project_id" value="'+project.project_id+'">
                        Assign
                    </button>
                    </form>
                    '
}]), projectrows) %}
{% endfor %} 
{{govukTable({
head: [ { text: "ID" },{ text: "Name" }, {text: "Assigned Employees"}, {text: "Number of employees assigned"}, {text: ""}],
rows: projectrows })
}}
{% else %}
There are no projects.
{% endif %}

{% endblock %}